# This workflow runs conditionally based on the event type with if conditionals only run on main branch 
name: Conditional Workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  conditional-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run on Push Event
        if: github.event_name == 'push'  # This step runs only if the event that triggered the workflow is a push
        run: echo "This job ran on a push event to the main branch."

      - name: Run on Pull Request Event
        if: github.event_name == 'pull_request'  # This step runs only if the event that triggered the workflow is a pull request
        run: echo "This job ran on a pull request event to the main branch."  
