name: EC2 Instance Creation Workflow
on:
  workflow_dispatch:

jobs:
  create-ec2-instance:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1
      - name: Create EC2 Instance
        run: |
          aws ec2 run-instances \
            --image-id ami-0c02fb55956c7d316 \  # Amazon Linux 2023 AMI ID for ap-south-1 region
            --count 1 \                          # Number of instances to launch
            --instance-type t3.micro \           # Instance type
            --key-name Mumbai-Keypair \          # Key pair name for SSH access
            --security-groups jenkins-server \   # Security group name    
            --tag-specifications 'ResourceType=instance,Tags=[{Key=Name,Value=MyEC2Instance}]'  # Tagging the instance with a name
